<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>에어루타 - 여행의 시작은 항공!</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.0.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/style2.css" rel="stylesheet" type="text/css" media="all"/>
<link href="css/company.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
   <link rel="shortcut icon" type="image/x-icon" href="img/icon/airruta_favicon.ico">
    <!-- Place favicon.ico in the root directory -->
<script src="https://kit.fontawesome.com/ca16fc1095.js"></script>
    <!-- all css here -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Appest Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/orange.css" type="text/css" media="all">
</head>
<body>
   
   
<!--header start here-->
<div class="banner">
  <div class="header">
	<div class="container">
		 <div class="header-main">
            <div class="logo">
                <img src="images2/airruta_logo_m.png" style="margin-top:8px; width:75%;"/>
            </div>

				<div class="top-nav">
				    <span class="menu"> <img src="images/icon.png" alt=""/></span>
                    <nav class="cl-effect-16">
                        <ul class="res">
                            <li><a class="scroll" href="#about">기술 및 솔루션</a></li>
                            <li><a class="scroll" href="#services">항공 IBE</a></li>
                            <li><a class="scroll" href="#gallery">제공서비스</a></li>
                            <li><a class="scroll" href="#contact">DEMO</a></li>
                       </ul>
                    </nav>
					<!-- script-for-menu -->
                    <script>
                        $( "span.menu" ).click(function() {
                            $( "ul.res" ).slideToggle( 300, function() {
                             // Animation complete.
                            });
                        });
                    </script>
		            <!-- /script-for-menu -->
				</div>				
		    <div class="clearfix"> </div>
         </div>
   </div>
</div>
    <!--언어변경-->
    <span class="new_airruta" >
    <li style="margin-left: 5px; float:left;margin-bottom: 5px">
        <i class="sl-flag flag-kor" >
            <div id="germany"></div>
        </i>
        <a href="http://airruta.com" style="padding:0px; display: inline-block"> <span class="active" style="padding-left:0px; font-size:12px; font-weight:400;">Korean</span></a>
    </li>
    <li style="margin-left:5px;"><i class="sl-flag flag-usa">
        <div id="germany"></div>
        </i>
        <a href="http://en.airruta.com" style="padding:0px; display: inline-block;"> <span style="color:#146c78; font-weight:400; font-size:12px;">English</span></a></li></span>
    <!--언어변경-->
	<section class="slider">
        <div class="flexslider">
            <ul class="slides">
                <li>
                     <div class="banner-bottom" style="padding:4em 0em 0em 0.5em">
                      <h3 style="font-size:29px; color:saddlebrown; font-family: gothic; letter-spacing: -3px;">여행의 시작은 항공!</h3>
                    </div>
                </li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </section>
</div>
<!-- FlexSlider -->
      <script defer src="js/jquery.flexslider.js"></script>
      <script type="text/javascript">
        $(function(){

        });
        $(window).load(function(){
          $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
              $('body').removeClass('loading');
            }
          });
        });
      </script>
<!-- FlexSlider -->

<!--header end here-->
<!--about start here-->
	<div class="container" style="padding-top:35px;">
		<div class="about-main">
			<div class="about-top">
				<h2>회사소개</h2>
				<h4>여행플랫폼 서비스를 제공하는 항공/여행<br> 솔루션 개발 및 컨설팅 전문업체입니다.</h4>
				<p>에어루타㈜는 세계 4대 GDS 중 하나인 월드스팬 (WorldSpan) 과의 전략적 제휴로 항공 인터넷 부킹엔진 (IBE),
항공운임빌더, 항공규정빌더(다국어ver) 등의솔루션을 자체 개발, 보유하고 있으며 여행업무 통합 솔루션을 기반으로 하는
B2B 여행플랫폼 서비스를 제공하는 항공/여행 솔루션 개발&컨설팅 전문업체입니다.</p>
			</div>
			<div class="about-bottom">
				<div class="col-md-6">
					<!--<h3>Et harum quidem rerum</h3>-->
					<img src="img/other/about_1.png" alt="" class="img-responsive">
				</div>
				<div class="col-md-6">
					<!--<h3>Libero tempore soluta</h3>-->
					<img src="img/other/check.png" alt="" class="img-responsive">
				</div>
			  <div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!--about end here-->
<!--services start here-->
<div class="about" id="about">
    <section id="slider-area" style="background-color: #f6f6f6; padding-top: 35px;">
       <div class="container">
           <div class="about-top">
                        <h4 style="color:#e67448;">기술 및 솔루션 > 에어루타 솔루션 소개</h4>
                        <p>에어루타㈜는 세계 4대 GDS 중 하나인 월드스팬 (WorldSpan) 과의 전략적 제휴로 항공 인터넷 부킹엔진 (IBE),
        항공운임빌더, 항공규정빌더(다국어ver) 등의솔루션을 자체 개발, 보유하고 있으며 여행업무 통합 솔루션을 기반으로 하는
        B2B 여행플랫폼 서비스를 제공하는 항공/여행 솔루션 개발&컨설팅 전문업체입니다.</p>
           </div>
           <div class="col-md-4 col-sm-6">
                <div class="awesome-feature text-center">
                    <div class="awesome-feature-icon">
                        <span><i class="fas fa-check"></i></span>
                    </div>
                    <div class="awesome-feature-details">
                        <h5  style="font-weight: 600">항공 인터넷 부킹엔진</h5>
                        <p style="text-align: left; padding:0 34px;">자체 개발/운영하는 'GDS' 연동으로 작동하는 인터넷 부킹엔진 으로 해당 솔루션 개발/영업에 대한 독점권을 보유하고 있으며 장기적인 운영이 가능합니다.</p>
                    </div>
                </div>
           </div>
           <div class="col-md-4 col-sm-6">
                <div class="awesome-feature text-center">
                    <div class="awesome-feature-icon">
                        <span><i class="fas fa-check"></i></span>
                    </div>
                    <div class="awesome-feature-details">
                        <h5  style="font-weight: 600">항공운임 / 규정빌더</h5>
                        <p style="text-align: left; padding:0 34px;">GDS의 영문규정을 한국어 및 다국어로 실시간 자동번역이 가능하며, 많은양의 항공 운임정보를 IBE를 통해 검색 가능하도록 가공 또는 파일링하는 솔루션</p>
                    </div>
                </div>
           </div>
           <div class="col-md-4 col-sm-6">
                <div class="awesome-feature text-center">
                    <div class="awesome-feature-icon">
                        <span><i class="fas fa-check"></i></span>
                    </div>
                    <div class="awesome-feature-details">
                        <h5  style="font-weight: 600">여행업무 통합 솔루션</h5>
                        <p style="text-align: left; padding:0 34px;">- B2C를 위한 항공 IBE 시스템(항공예약 페이지), 홈페이지, 모바일 APP 제공
        - B2B를 위한 상품공급/소싱, 견적경매 시스템(랜드사 - 여행사간 거래) 제공</p>
                    </div>
                </div>
           </div>
       </div>
    </section>
</div>
<!--원모양 사진 4개:S-->
<section id="slider-area" style="padding-top: 35px;">
    <div class="container">
        <div class="about-top">
				<h4 style="color:#e67448;">기술 및 솔루션 > 항공IBE 시스템</h4>
				<p>항공IBE는 GDS가 보유한 다양한 항공사의 운임정보를 여행사 홈페이지와
                    모바일을 통하여 제공하며, 고객이 직접 실시간으로 검색, 예약, 발권하는 시스템입니다.</p>
		</div>
        <section class="service-area">
            <div class="container" >
                <div class="row" style="padding-top:40px;">
                    <div class="col-md-12">
                        <div class="row row-bottom-padded-lg">
                            <div class="col-md-3 text-center to-animate">
                                <div class="person icon_arr">
                                    <img src="img/icon/1_01.jpg" class="img-responsive img-rounded" alt="Person">
                                    <h3 class="name">항공사</h3>
                                    <div class="position">Airline</div>
                                    <p style="margin-bottom:20px; line-height:26px;">대한항공<br> 아시아나 항공 <br>아메리칸 에어라인 <br>저가항공사 등</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center to-animate">
                                <div class="person icon_arr">
                                    <img src="img/icon/1_03.jpg" class="img-responsive img-rounded" alt="Person">
                                    <h3 class="name">GDS</h3>
                                    <div class="position">Distribution</div>
                                    <p style="margin-bottom:20px;  line-height:26px;">Amadeus<br> Worldspan <br>Sabre Travel Net <br>Galileo</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center to-animate">
                                <div class="person icon_arr">
                                    <img src="img/icon/1_02.jpg" class="img-responsive img-rounded" alt="Person">
                                    <h3 class="name">IBE</h3>
                                    <div class="position">solution</div>
                                    <p style="margin-bottom:20px;  line-height:26px;">항공 <br> 호텔 <br> 렌트카 <br> CRS</p>
                                </div>
                            </div>
                            <div class="col-md-3 text-center to-animate">
                                <div class="person" style="margin-bottom:40px;">
                                    <img src="img/icon/1_04.jpg" class="img-responsive img-rounded" alt="Person">
                                    <h3 class="name">여행사</h3>
                                    <div class="position">Travel agency</div>
                                    <p style="margin-bottom:20px;  line-height:26px;">홈페이지 항공<br> 모바일 항공<br> B2B 홀세일<br> 예약/발권</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!--services start here-->
<section id="slider-area" style="background-color: #fafafa; padding-top: 30px;">
   <div class="container">
        <div class="about-top">
            <h4 style="color:#e67448;">기술 및 솔루션 > 항공IBE 도입 효과</h4>
            <p>고객만족 / 생산성 / 효율성 / 수익성을 높일수 있으며 매출 및 수익성 증가에 도움이 되는 시스템입니다</p>
        </div>
       <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
                <div class="awesome-feature-icon">
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="awesome-feature-details">
                    <h5  style="font-weight: 600">고객만족을 통한 고객확보</h5>
                    <p style="text-align: left; padding:0 34px;">홈페이지를 방문한 고객에게 차별화된 항공 서비스를 제공하여 고객만족과 함꼐 기존 고객의 재방문을 유도하며 신규 고객의 유입을 증대시킵니다.</p>
                </div>
            </div>
       </div>
       <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
                <div class="awesome-feature-icon">
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="awesome-feature-details">
                    <h5  style="font-weight: 600">업무 생산성 증대</h5>
                    <p style="text-align: left; padding:0 34px;">자동화된 발권 및 상담업무 등의 지원으로 업무의 정확성을 높여주며 단순작업, 중복작업의 배제로 항공권 업무 및 관련 업무의 생산성이 증대됩니다.</p>
                </div>
            </div>
       </div>
       <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
                <div class="awesome-feature-icon">
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="awesome-feature-details">
                    <h5  style="font-weight: 600">관리 효율성 증대</h5>
                    <p style="text-align: left; padding:0 34px;">검색, 예약, 결제, 발권, 실적관리 등 자동화된 시스템으로 관리업무의 효율성을 높여주며데이터를 실시간 처리하여 정확성과 관리의 편의성이 증대됩니다.</p>
                </div>
            </div>
       </div>
       <div class="col-md-4 col-sm-6">
            <div class="awesome-feature text-center">
                <div class="awesome-feature-icon">
                    <span><i class="fas fa-check"></i></span>
                </div>
                <div class="awesome-feature-details">
                    <h5  style="font-weight: 600">매출 및 수익성 증대</h5>
                    <p style="text-align: left; padding:0 34px;">IBE 서비스와 여행사 자체보유한 컨텐츠를 결합하여 여행상품을 개발, 판매하는 등의 마케팅 활동을 수행하여 매출 및 수익성의 증대에 효과적입니다.</p>
                </div>
            </div>
       </div>
   </div>
</section>
           
           
<div class="services" id="services">
	<div class="container" style="padding-top:30px">
		<div class="services-main">
			<div class="services-top">
				<h4 style="color:#e67448;">기술 및 솔루션 > 항공 IBE 선택기준</h4>
				<p>에어루타의 항공IBE 시스템을 도입하기 전<BR> 다음 사항을 확인하세요</p>
			</div>
			<div class="services-bottom">
				<div class="col-xs-6" style="margin-bottom:25px; text-align: center;">
					<div class="ser-icon">
					  <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
					</div>
					<h4>운임정보</h4>
					<p>고객에게 운임정보를 얼마나 다양하게 제공할 수 있는가?</p>
				</div>
				<div class="col-xs-6" style="margin-bottom:25px; text-align: center;">
					<div class="ser-icon">
					  <span class="glyphicon glyphicon-erase" aria-hidden="true"> </span>
					</div>
					<h4>편의성</h4>
					<p>시스템을 이용하는 사용자의 편의성을 얼마나 고려 했는가?</p>
				</div>
				<div class="col-xs-6" style="margin-bottom:25px; text-align: center;">
					<div class="ser-icon">
					  <span class="glyphicon glyphicon-film" aria-hidden="true"> </span>
					</div>
					<h4>효율성</h4>
					<p>시스템 도입 및 운영 시, 비용을 얼마나 절감 할 수 있는가?</p>
				</div>
				<div class="col-xs-6" style="margin-bottom:25px; text-align: center;">
					<div class="ser-icon">
					  <span class="glyphicon glyphicon-music" aria-hidden="true"> </span>
					</div>
					<h4>지원성</h4>
					<p>시스템 이용중 기술지원 및 영업지원이 원할히 진행 되는가?</p>
				</div>

			  <div class="clearfix" style="margin-bottom:0px;"> </div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->      	
   
<div id="fh5co-features" style="background-color: #fafafa; padding:0px;">
    <div class="container">
        <div class="row"></div>
        <div class="row row-bottom-padded-sm">
        <div class="services-top" style="padding-top:40px;">
            <h4 style="color:#e67448;">기술 및 솔루션 > 항공 IBE 선택기준</h4>
            <p>에어루타의 항공IBE 시스템을 도입하기 전<BR> 다음 사항을 확인하세요</p>
        </div>
        <div class="col-md-10 col-sm-10 col-xs-12 col-xxs-10 fh5co-service to-animate" style=margin-bottom:45px;>
            <span style="float:left;"><i class="fas fa-plus" style="color:orange;"></i></span>
            <div>
                <h3 style="font-size:21px; font-weight:600; color:#333333">&nbsp;안전성/효율성</h3>
                <p style="line-height:24px; margin-top:5px">대량의 트래픽을 안정적 효율적으로 분산하여 신속하게 처리 가능한 시스템으로, 경쟁사에 비해 기능 및 처리속도 우위 독립모듈 기반의 표준화 시스템으로 유지보수에 용이하며 업그레이드 기능 제공 </p>
            </div>
        </div>

        <div class="col-md-10 col-sm-10 col-xs-12 col-xxs-10 fh5co-service to-animate" style=margin-bottom:45px;>
            <span style="float:left;"><i class="fas fa-expand-arrows-alt" style="color:orange;"></i></span>
            <div>
                <h3 style="font-size:21px; font-weight:600; color:#333333">&nbsp;유연성/확장성</h3>
                <p style="line-height:24px; margin-top:5px">특정 항공사 또는 단일 GDS 종속에서 탈피하여 다수의 항공사, GDS와 연동 가능<br>자체개발 한 항공운임 빌더를 통하여 기획&특가, 땡처리 등 GDS에서 제공하지 않는 운임정보를 별도 생산하여 제공가능</p>
            </div>
        </div>
            <div class="clearfix visible-sm-block visible-xs-block"></div>
            <div class="col-md-10 col-sm-10 col-xs-12 col-xxs-10 fh5co-service to-animate" style=margin-bottom:40px;>
                <span style="float:left;"><i class="fas fa-chair" style="color:orange;"></i></span>
                <div>
                    <h3 style="font-size:21px; font-weight:600; color:#333333">&nbsp;편의성/기능성</h3>
                    <p style="line-height:24px; margin-top:5px">UI의 지속적인 업그레이드를 통하여 사용자 편의성 증대 및 고객중심 서비스 제공<br>고객서비스 : 실시간 검색, 가격비교, 예약, 결제&발권<br>관리자기능 : 백오피스 및 정산 프로그램</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- banner Slider starts Here -->
<script src="js/responsiveslides.min.js"></script>
<script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	speed: 500,
        namespace: "callbacks",
        pager: false,
        nav:true,
      });
    });
</script>

<!--gallery start here-->
<div class="container" style="padding-bottom:30px;">
    <div class="gallery-top" style="padding-top:40px; ">
            <h4 style="color:#e67448;">기술 및 솔루션 > 항공 IBE시스템 구성도</h4>
    </div>
    <div class="gallery-bottom">
        <div class="col-md-6">
            <div class="project-eff">
                <div id="nivo-lightbox-demo"><p><a href="images/ibe_map.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
                    <img class="img-responsive" src="images/ibe_map.png" alt="">
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
        });
    </script>
<!--gallery end here-->
   
   
   
   
<div class="services " id="services" style="background-color:#fafafa;">
	<div class="container" style="padding-top:30px">
		<div class="services-main">
			<div class="services-top">
				<h4 style="color:#e67448;">기술 및 솔루션 > 항공운임 규정번역 소개</h4>
				<p>항공운임 규정번역 서비스는 GDS에서 제공하는 영문 운임규정을
실시간으로 자동 번역하여 고객에게 제공하는 솔루션으로 한국어 및 다국어 번역이 가능하여 글로벌 시장에서 사용 가능한 솔루션입니다.</p>
			</div>
			<div class="services-bottom">
				<div class="col-md-4 ser-grid">
					<div class="ser-icon" style="background-color: #b24040">
					  <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
					</div>
					<h4 style="color:#383838;">요금규정</h4>
					<p>요금규정은 티켓 판매시에 노선/가격 등과 함께 제공되는 약관의 일종으로 취소/환불/변경 등에 관한 조건을 제공함</p>
				</div>
				<div class="col-md-4 ser-grid">
					<div class="ser-icon" style="background-color: #b24040">
					  <span class="glyphicon glyphicon-erase" aria-hidden="true"> </span>
					</div>
					<h4 style="color:#383838;">기존방식의 단점</h4>
					<p>GDS에서는 요금규정을 영문으로만 제공하고 있어 여행사에서는 수작업을 통하여 한글로 번역하여 고객에게 제공함</p>
				</div>
				<div class="col-md-4 ser-grid">
					<div class="ser-icon" style="background-color: #b24040">
					  <span class="glyphicon glyphicon-film" aria-hidden="true"> </span>
					</div>
					<h4 style="color:#383838;">자동번역</h4>
					<p>전세계 항공사의 요금규정을 실시간/자동으로 번역하기 위해서는 풍부한 업무경험과 대량의 데이터 그리고 개발능력이 필요</p>
				</div>
				<div class="col-md-4 ser-grid">
					<div class="ser-icon" style="background-color: #b24040">
					  <span class="glyphicon glyphicon-music" aria-hidden="true"> </span>
					</div>
					<h4 style="color:#383838;">한계점</h4>
					<p>기존 방식의 경우 다양한 업무에서의 지식 및 기본적으로 요구되는 허들이 매우 높으므로 개발환경에서의 업무추친이 어려움</p>
				</div>
                <div class="col-md-4 ser-grid">
					<div class="ser-icon" style="background-color: #b24040">
					  <span class="glyphicon glyphicon-erase" aria-hidden="true"> </span>
					</div>
					<h4 style="color:#383838;">다양한 언어</h4>
					<p>영한 번역 뿐만 아니라 중국어, 일어, 태국어 등 어느 언어로의 번역 또한 개발이 가능</p>
				</div>
				<div class="col-md-4 ser-grid">
					<div class="ser-icon" style="background-color: #b24040">
					  <span class="glyphicon glyphicon-film" aria-hidden="true"> </span>
					</div>
					<h4 style="color:#383838;">비전&수요</h4>
					<p>국내 여행사에 대한 수요 외에 중국, 동남아 등 해외시장에서의 수요 및 성장 가능성 높음</p>
				</div>
			  <div class="clearfix" style="margin-bottom:35px;"> </div>
			</div>
		</div>
	</div>
</div>
<!--services end here-->
   
   
   
   
   <!--gallery start here-->
<div class="container" style="padding-bottom:30px; padding-top:30px;">
    <div class="gallery-top" style="padding-top:0px;">
            <h4 style="color:#e67448;">기술 및 솔루션 > 규정변역 시스템 구성도</h4>
    </div>
    <div class="gallery-bottom">
        <div class="col-md-6">
            <div class="project-eff">
                <div id="nivo-lightbox-demo"><p><a href="images/ibe_map.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
                    <img class="img-responsive" src="images/ibe_sol.png" alt="">
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
    });
    </script>
<!--gallery end here-->
   
   
<div id="fh5co-pricing" data-section="menu05" style="background-color:#F6F6F6; padding-top:35px">
    <div class="container">
        <div class="services-top">
            <h4 style="color:#e67448;">기술 및 솔루션 > AIRRUTA 시스템 구성</h4>
            <p>AIRRUTA의 시스템은 고객용 웹, 관리자용 백오피스 및 내, 외부 연계 시스템을 함꼐 제공하여 손쉽게 관리할 수 있습니다.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="price-box to-animate">
                    <h2 class="pricing-plan">System 1</h2>
                    <div class="price">B2C WEB</div>
                    <p>고객용 웹 페이지</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>아웃바운드 웹</li>
                        <li>항공권예약</li>
                        <li>B2C 제휴사 웹서비스</li>
                        <li>B2C 모바일 서비스</li>
                        <li>모바일 오피스</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="price-box to-animate">
                    <h2 class="pricing-plan">System 2</h2>
                    <div class="price">백오피스</div>
                    <p>웹 사이트, 상품, 정산관리</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>항공/호텔</li>
                        <li>여행/에어텔</li>
                        <li>법인영업</li>
                        <li>회계/고객관리</li>
                        <li>시스템관리</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 to-animate">
                <div class="price-box">
                    <h2 class="pricing-plan">System 3</h2>
                    <div class="price">내부연계</div>
                    <p>내부 시스템 연동관리</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>회계시스템</li>
                        <li>전자결제</li>
                        <li>CTI 연동</li>
                        <li>검색엔진</li>
                        <li>로그분석</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="price-box to-animate">
                    <h2 class="pricing-plan">System 4</h2>
                    <div class="price">외부연계</div>
                    <p>외부 시스템 연동관리</p>
                    <hr>
                    <ul class="pricing-info">
                        <li>항공/호텔 GDS</li>
                        <li>여행상품</li>
                        <li>PG 결제</li>
                        <li>Banking 연동</li>
                        <li>Mail, SMS/MMS, eFAX</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>

   <!--gallery start here-->
<div class="container">
    <div class="gallery-top">
            <h4 style="color:#e67448;">기술 및 솔루션 > 항공 IBE시스템 구성도</h4>
            <p>AIRRUTA B2B 투어플랫폼은 지역/상용기반의 중소여행사와 다양한 상품공급사가 참여하여 온라인에서 직거래 방식으로 운영되는 B2B서비스 입니다.</p>
        </div>
    <div class="gallery-bottom">
        <div class="col-md-6">
            <div class="project-eff">
                <div id="nivo-lightbox-demo"><p><a href="images/flat.png" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo"> <span class="rollover1"> </span></a></p></div>
                    <img class="img-responsive" src="images/flat.png" alt="">
            </div>
        </div>
        <div class="clearfix" style="padding-bottom:30px;"> </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
    });
    </script>
<!--gallery end here-->
   
   
   <!--================-->
   <!--제공서비스 가격표:S-->
   <!--================-->
<div class="gallery" id="gallery" style="background-color: #f6f6f6; padding-top:35px;">
   <div class="container">
      <div class="gallery-top">
        <h4 style="color:#e67448;">기술 및 솔루션 > 항공 IBE시스템 구성도</h4>
        <p>AIRRUTA B2B 투어플랫폼은 지역/상용기반의 중소여행사와 다양한 상품공급사가 참여하여 온라인에서 직거래 방식으로 운영되는 B2B서비스 입니다.</p>
	  </div>
      <!--============-->
      <!--표 1번 구성:S-->
      <!--============-->
        <table class="tghty">
            <tr>
                <td class="tg-985o" style="width:10%;  padding: 0px 15px 0px 15px;"><b>TYPE A</b></td>
                <td class="tg-14gg" style="background-color: #26ade4; color:#ffffff;"><b>TYPE B</b></td>
            </tr>
            <tr>
            </tr>
            <tr>
                <td class="tg-985o" style="width:50%;  padding: 10px 15px; background-color:#ffffff; color:#000000;">
                    메인페이지 구성<br>- 메인배너, 항공/호텔 IBE, 추천상품<br> <b style="color:#f00"><u>(변경불가)</u></b><br><br>자체보유 상품 판매가능한 메뉴/페이지 제공<br>-단일 카테고리
                </td>
                <td class="tg-14gg" style="padding:10px 15px;">
                    메인페이지 구성<br>- 메인배너, 항공/호텔 IBE, 추천상품<br> <b style="color:#f00"><u>(변경가능-> 메인배너, 추천상품)</u></b><br><br>자체보유 상품 판매가능한 메뉴/페이지 제공<br>- 카테고리 추가 가능
                </td>
            </tr>
        </table>
      <!--============-->
      <!--표 1번 구성:E-->
      <!--============-->
      
    <!--===========-->
    <!--표 2번 구성:S-->
    <!--==========-->
    <div style="float:right; font-size: 12px; color:#000000;">(VAT별도)/원</div>
    <table class="tghty" style="width: 100%; margin-bottom:20px">
        <tr>
            <td class="tg-985o" style="width:10%;  padding: 0px 15px 0px 25px;"><b>구분</b></td>
            <td class="tg-14gg" style="background-color: #26ade4; color:#ffffff;"><b>서비스 구성</b></td>
            <td class="tg-14gg" style="background-color: #26ade4; color:#ffffff;"><b>비고</b></td>
        </tr>
        <tr>
            <th class="tg-985o" style="width:10%; padding: 0px 15px 0px 25px;">TYPE -A-</th>
            <th class="tg-14gg">- 관리자 기능 제공
                <br>- 항공 부킹엔진 서비스 제공
                <br>- 기본 상품 카테고리 구조는 당사 제공 카테고리 구조 사용
                <br>- 자체보유 상품 판매를 위한 별도 페이지를 제공<br>메인페이지 변경 불가<br>별도의 디자인 유지보수 비용 없음
            </th>
            <td class="tg-14gg">시스템 세팅비 <b> 1,000,000</b><br>
                월 사용료 <b> 200,000</b>
            </td>
        </tr>
        <tr>
            <td class="tg-985o" style="width:10%;  padding: 0px 15px 0px 25px;">TYPE -B-</td>
            <td class="tg-14gg">- 관리자 기능 제공<br>
                - 항공 부킹엔진 서비스 제공<br>
                - 기본 상품 카테고리 구조는 당사 제공 카테고리 구조 사용<br>
                - 자체보유 상품 판매를 위한 별도 페이지 제공<br>
                &nbsp;(카테고리 추가 및 관리 가능)<br>
                - 메인배너, 추천상품 영역 변경 가능<br>
                - 디자인 유지보슈 요청시 비용 발생
            </td>
            <td class="tg-14gg">
                시스템 세팅비 <b> 2,000,000</b><br>
                월 사용료 <b> 300,000</b><br>
                <u style="color:red;">항공 시스템 관련 사안은 별도협의</u>
            </td>
        </tr>
        <tr>
            <td class="tg-985o" style="width:10%;  padding: 0px 15px 0px 25px;">공통사항</td>
            <td class="tg-14gg">- 임대용 관리자 시스템 제공<br>
                - 웹사이트 및 ERP 오류 발생시 하자보수<br>
                - 정기적 ERP 업데이트 및 시스템 백업 기술자문 등
            </td>
            <td class="tg-14gg">Database 백업 (일 1회)<br>
                source 백업(일 1회)<br>
                domain 등록 (등록비용 별도)
            </td>
        </tr>
    </table>
    <div style="color:#000000; clear:both; margin-bottom:120px; text-align:center;"><u>계약사항에 명시되지 않은 시스템의 변경요청 및 추가개발의 경우 별도의 추가 개발비용이 발생합니다.</u>
    </div>

    <!--===========-->
    <!--표 2번 구성:E-->
    <!--===========-->
        <div style="font-size:21px; color:#FF6600; font-weight:600; text-align:center; clear:both;">유지보수 공통사항</div>
        <div style="color:#000000; text-align:center; font-size:14px; margin-bottom:30px;">- 관리자 시스템의 경우 일반 오류에 대해서는 하자보수 무상 제공합니다.<br>
            - 공통 사용 기능에 대해서는 정기적 업데이트를 통해 무상 제공합니다.<br>
            - 별도의 추가 기능 요청의 경우에는 별도의 견적으로 비용 산정합니다.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;(비용은 개발자 노임단가 작업시간에 기준 합니다.)
        </div>
        <div style="float:right; font-size: 12px; color:#000000;">(VAT별도)/원
        </div>
        <table class="tghty" style="width: 100%;">
            <tr>
                <td class="tg-985o" style="width:20%;  padding: 0px 15px 0px 25px;"><b>구분</b></td>
                <td class="tg-14gg" style="background-color: #26ade4; color:#ffffff;"><b>내용</b></td>
                <td class="tg-14gg" style="background-color: #26ade4; color:#ffffff;"><b>금액</b></td>
            </tr>
            <tr>
                <th class="tg-985o" style="width:20%; padding: 0px 15px 0px 25px;">메인페이지</th>

                <th class="tg-14gg">- GNB 상단 TOP 고정 영역 배너제작 (400*90 기준)
                    <br>- 메인페이지 상단배너 이미지 제작(1920*500 기준)
                    <br>- 메인 노출용 이벤트 팝업 제작<br>(텍스트 위주)<br> - 메인 노출용 이벤트 팝업 제작<br>(이미지 위주)
                </th>
                <td class="tg-14gg"><b>30,000</b> (월 1회 무료)<br>
                    <b>40,000</b> (월 1회 무료)<br>
                    <b>20,000</b> (월 1회 무료)<br>
                    <b>40,000</b> (월 1회 무료)
                </td>
            </tr>
            <tr>
                <td class="tg-985o" style="width:20%;  padding: 0px 15px 0px 25px;">팝업페이지
                </td>
                <td class="tg-14gg">- 텍스트 위주 팝업<br>
                    - 이미지 위주 팝업<br>
                </td>
                <td class="tg-14gg">
                    <b>20,000</b> (월 1회 무료)<br>
                    <b>40,000</b> (월 1회 무료)</td>
            </tr>
            <tr>
                <td class="tg-985o" style="width:20%;  padding: 0px 15px 0px 25px;">기타</td>
                <td colspan="2" class="tg-14gg">- 이미지는 종류에 따라 사용료 별도 청구</td>
            </tr>
        </table>
    </div>
</div>
   <!--================-->
   <!--제공서비스 가격표:E-->
   <!--================-->
<div class="contact" id="contact" style="background-color: white;">
   <div class="container">
       <div class="services-top">
            <h4 style="color:#e67448; padding-top: 35px">DEMO</h4>
            <p>에어루타가 제공하는 항공권 인터넷 부킹엔진(항공 IBE)과 항공권 요금규정의 다국어 변환 솔루션 그리고 여행솔루션을 실시간으로 체험해 볼 수 있습니다.</p>
            <div class="section-heading pb-5 text-center">
                <button type="button" class="btn btn-primary3" style="margin-top:20px; background-color:#ff6600; color:white">Demo For(ERP)</button>
                <button type="button" class="btn btn-primary4" style="margin-top:20px;background-color:#ff6600; color:white">Demo For(AGT)</button>
            </div>
            <center>
                <iframe style="margin:20px 0px 30px; 0px; clear: both;" width="300px" height="100%" src="https://www.youtube.com/embed/86BkfOTT7NI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </center>
        </div>
   </div>
</div>

<!--contact-starts-->
<div class="contact" id="contact">
    <div class="container">
        <div class="contact-head">
            <h3>상담 및 문의</h3>
            <p>상담신청 및 문의시에는<br>회사명, 신청자이름, 연락처, 이메일, 상담/문의<br>내용을 기재하여 주시기 바랍니다.<br></p>
        </div>
        <div class="contact-top">
            <div class="col-md-4 contact-left">
                <div class="add1">
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    <p><small class="con-bold"></small> 서울시 마포구 월드컵북로2길 82 대명빌딩 3층</p>
                </div>
                <div class="add1">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    <p>Tel : +755 265 8822 , Fax : +955 326 3695</p>
                </div>
                <div class="add1">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <p>Email: <a href="mailto:example@email.com">airruta@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-8 contact-right">
               <form>
                <input type="text" placeholder="성함">
                <input type="text" class="email" placeholder="이메일">
                <textarea placeholder="내용" required=""></textarea>
                 <div class="submit">
                    <input type="submit" value="메시지 전송">
                 </div>
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
	<!--contact-end-->
<!--map start here-->
<div class="map">
	<iframe  width="600"  height="450"  frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAJemn4D5D31FaOEjFNAXQ6mCo-gUxlcZs    &q=37.558127, 126.924607" allowfullscreen></iframe>
</div>
<!--map start here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main"></div>
		<div class="clearfix"> </div>
        <div class="copy-right">
            <p>© 2019 Appest. All rights reserved  AIRRUTA<BR>Design by  <a href="http://w3layouts.com/" target="_blank">  W3layouts </a></p>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop" style="display: none;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
<!--//footer-->
<form id="myform" name="myform" method="POST" action="http://demo.airruta.com/login" target="popup_window">
    <input type="hidden" name="userid" value="<?=na_encrypt('kildong');?>" />
    <input type="hidden" name="userpw" value="<?=na_encrypt('qwer0987@@');?>" />
</form>
<form id="myform2" name="myform2" method="POST" action="http://adm.etourline.com/login" target="popup_window">
    <input type="hidden" name="userid" value="<?=na_encrypt('airruta');?>" />
    <input type="hidden" name="userpw" value="<?=na_encrypt('airruta1234');?>" />
</form>
<!-- all js here -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<!-- For demo purposes only styleswitcher ( You may delete this anytime ) -->
<script src="js/jquery.style.switcher.js"></script>
<script>
    $(function() {
        $('#colour-variations ul').styleSwitcher({
            defaultThemeId: 'theme-switch',
            hasPreview: false,
            cookie: {
                expires: 30,
                isManagingLoad: true
            }
        });
        $('.option-toggle').click(function() {
            $('#colour-variations').toggleClass('sleep');
        });

        $(".btn-primary2").click(function() {
            if ($("[name='email']").val() == '') {
                alert("E-mail을 입력해주세요");
                $("[name='email']").focus();
                return false;
            }

            var reg = /\w+[@]{1}\w+[.]\w+/;
            if (!reg.test($("[name='email']").val())) {
                alert("E-mail을 정확하게 입력해주세요");
                return false;
            }

            if ($("[name='message']").val() == '') {
                alert("상담내용을 입력해주세요");
                $("[name='message']").focus();
                return false;
            }

            $("#sentMessage").submit();
        });
    });

    $(document).ready(function() {
        $(".btn-primary3").on("click", function() {
            window.open("", "popup_window", "");
            $("#myform").submit();
        });

        $(".btn-primary4").on("click", function() {
            window.open("", "popup_window", "");
            $("#myform2").submit();
        });
    });

</script>
<!-- End demo purposes only -->
</body>
</html>

<?php
function na_encrypt($data) {
        $key = 'JIT7fTK6EHalpk3GyIucQXKATjs8xjQJjdWU8eaoCmo=';
        $encryption_key = base64_decode($key);
        $iv = openssl_random_pseudo_bytes(openssl_cipher_iv_length('aes-256-cbc'));
        $encrypted = openssl_encrypt($data, 'aes-256-cbc', $encryption_key, 0, $iv);
        return base64_encode($encrypted . '::' . $iv);
    }

function na_decrypt($data) {
	$key = 'JIT7fTK6EHalpk3GyIucQXKATjs8xjQJjdWU8eaoCmo=';
	$encryption_key = base64_decode($key);
	@list($encrypted_data, $iv) = explode('::', base64_decode($data), 2);
	return openssl_decrypt($encrypted_data, 'aes-256-cbc', $encryption_key, 0, $iv);
}
?>